//Colors
$color-primary: #336633;
$color-secondary: #FF0000;
$color-accent: #E8AE0C;
$color-black: #333;
$color-white: #fff;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

//Font-stack
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
$font-stack: Lato, sans-serif;
